@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*
.wrapper {
    display: grid
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    height: 400px;
    gap: 5px;
       
}*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 450px;
    gap: 5px;
    background-color: #e6e6e6;
    justify-items: center;
}

.screen {
    width: 95%;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(158, 182, 182);
    color: rgb(38, 38, 38);
    font-size: 30px;
    margin-right: 5px;

}

.subscreen {
    width: 95%;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: beige;
    margin-right: 5px;
    margin-top: 5px;

}

.del {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 114, 114);
    color: white;
    /*padding: 15px;*/
    width: 60px;
    height: 50px;
    padding: 15px;
    /*border: 2px solid gray;*/
    border-radius: 5px;
}

.clear {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: white;
    /*border: 2px solid gray;*/
    /*padding: 15px;*/
    width: 60px;
    height: 50px;
    padding: 15px;
    /*border: 2px solid gray;*/
    border-radius: 5px;
    margin-top: 5px;
}

.gridItem {
    font-size: 20px;
    background-color: rgb(154, 153, 184);
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    padding: 15px;
    /*border: 2px solid gray;*/
    border-radius: 5px;

}


#equals {
    /*grid-column-start: 4;
    grid-column-end: 2;*/
    background-color: rgb(84, 84, 255);
    color: white;
}